<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="#3a57c4">
	<title>Doccure - PWA Mobile Template</title>

	<!-- Add link rel manifest -->
	<link rel="manifest" href="manifest.json">

	<!-- Add iOS meta tags and icons -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Doccure - PWA Mobile Template">
	<link rel="apple-touch-icon" href="assets/images/icons/icon-152x152.png">

	<!-- Add description here -->
	<meta name="description" content="Doccure - PWA Mobile Template">

	<!-- Add meta theme-color -->
	<meta name="theme-color" content="#2F3BA2" />

	<!-- Favicons -->
	<link rel="icon" href="assets/images/favicon.png" type="image/x-icon" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Bootstrap Datepicker CSS -->
	<link rel="stylesheet" href="assets/css/jquery.datepicker2.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Swiper CSS -->
	<link rel="stylesheet" href="assets/plugins/swiper/css/swiper.min.css">

	<!-- Circle CSS -->
	<link rel="stylesheet" href="assets/css/circle.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
	<div class="main-wrapper">

		<div class="side-menu" id="sidebar-menu">
			<div class="close-btn"><span class="material-icons">close</span></div>
			<div class="logo">
				<img src="assets/images/mylogo.svg" style="height: 200px; margin: 20px 10px" alt="RIAM CARE">
			</div>
			<ul>
				<li>
					<a class="" href="patient-dashboard.html">
						<span class="material-icons">dashboard</span>
						Dashboard
					</a>
				</li>
				<li>
					<a class="" href="appointments.html">
						<span class="material-icons">date_range</span>
						My Appointments
					</a>
				</li>
				<li>
					<a class="" href="patient-profile-settings.html">
						<span class="material-icons">settings</span>
						Profile Settings
					</a>
				</li>
				<li>
					<a class="" href="patient-profile.html">
						<span class="material-icons">person</span>
						My Profile
					</a>
				</li>
			</ul>
			<a class="sidebar-logout" href="login.html"><span><img src="assets/images/open-account-logout.svg"
				alt=""></span>Logout</a>
		</div>

		<div class="navbar two-action no-hairline">
			<div class="navbar-inner d-flex align-items-center">
				<div class="left">
					<a href="#" class="link icon-only">
						<i class="custom-hamburger">
							<span><b></b></span>
						</i>
					</a>
				</div>
				<div class="sliding custom-title">Profile Settings</div>
				</div>
			</div>
		</div>

		<div class="page-content profile-settings ">

			<!-- Profile settings -->
			<div class="container">
				<div class="tab-col">
					<ul class="nav nav-tabs">
						<li><a href="#basic-info" data-toggle="tab" class="active">Basic Info</a></li>
						<li><a href="#about-me" data-toggle="tab">About Me</a></li>
						<li><a href="#contact-details" data-toggle="tab">Contact Details</a></li>
					</ul>
				</div>

				<div class="tab-content hidden">

					<div class="tab-pane active" id="basic-info">
						<div class="panel panel-default">
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="setting-widget">
										<div class="list no-hairlines-md">
											<div class="widget-title">
												<h5>Basic Information</h5>
											</div>

											<form>
												<ul>
													<li class="item-content item-input">
														<div class="item-col">
															<div class="item-title item-label">Full name <span>*</span>
															</div>
															<div class="item-input-wrap">
																<input id="username" type="text">
																<span class="input-clear-button"></span>
															</div>
														</div>
													</li>

													<li class="item-content item-input">
														<div class="item-col">
															<div class="item-title item-label">Phone Number</div>
															<div class="item-input-wrap">
																<input id="phone" type="tel">
																<span class="input-clear-button"></span>
															</div>
														</div>
													</li>
													<li class="item-content item-input col-50 gender">
														<div class="item-col">
															<div class="item-title item-label">Blood group</div>
															<div class="item-input-wrap input-dropdown-wrap">
																<select id="blood_group">
																	<option value=""></option>
																	<option value="a+">A+</option>
																	<option value="a-">A-</option>
																	<option value="b+">B+</option>
																	<option value="b-">B-</option>
																	<option value="ab-">AB-</option>
																	<option value="ab-">AB-</option>
																	<option value="o+">O+</option>
																	<option value="o-">O-</option>
																</select>
															</div>
														</div>
													</li>
													<li class="item-content item-input col-50 gender">
														<div class="item-col">
															<div class="item-title item-label">Gender</div>
															<div class="item-input-wrap input-dropdown-wrap">
																<select id="gender">
																	<option value=""></option>
																	<option value="male">Male</option>
																	<option value="female">Female</option>
																</select>
															</div>
														</div>
													</li>
													<li class="item-content item-input col-100 dob">
														<div class="item-col">
															<div class="item-title item-label">Birthday</div>
															<div class="item-input-wrap date-picker-col">
																<input type="text" name="date" id="birthday"
																	data-select="datepicker">
																<span class="calendar-icon"><img
																		src="assets/images/icon-metro-calendar-big.svg"
																		alt=""></span>
															</div>
														</div>
													</li>
													<li class="bottom-button">
														<button class="btn save-btn">Save</button>
													</li>
												</ul>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="about-me">
						<div class="panel panel-default">
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="setting-widget">
										<div class="widget-title">
											<h5>About Me</h5>
										</div>
										<form>
											<ul>
												<li class="item-content item-input">
													<div class="item-col">
														<div class="item-title item-label">Biography</div>
														<div class="item-input-wrap">
															<textarea id="bio"
																placeholder="Within 400 characters"></textarea>
														</div>
													</div>
												</li>
												<li class="bottom-button">
													<button class="btn save-btn">Save</button>
												</li>
											</ul>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="contact-details">
						<div class="panel panel-default">
							<div id="collapseFour" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="setting-widget">
										<div class="widget-title">
											<h5>Contact Details</h5>
										</div>
										<form>
											<ul>
												<li class="item-content item-input">
													<div class="item-col">
														<div class="item-title item-label">Address Line 1</div>
														<div class="item-input-wrap">
															<input id="address_line1" type="text">
															<span class="input-clear-button"></span>
														</div>
													</div>
												</li>
												<li class="item-content item-input">
													<div class="item-col">
														<div class="item-title item-label">Address Line 2</div>
														<div class="item-input-wrap">
															<input id="address_line2" type="text">
															<span class="input-clear-button"></span>
														</div>
													</div>
												</li>
												<li class="item-content item-input">
													<div class="item-col">
														<div class="item-title item-label">City</div>
														<div class="item-input-wrap">
															<input id="state" type="text">
															<span class="input-clear-button"></span>
														</div>
													</div>
												</li>
												<li class="item-content item-input">
													<div class="item-col">
														<div class="item-title item-label">Country</div>
														<div class="item-input-wrap">
															<input id="country" type="text">
															<span class="input-clear-button"></span>
														</div>
													</div>
												</li>
												<li class="item-content item-input">
													<div class="item-col">
														<div class="item-title item-label">Postal Code</div>
														<div class="item-input-wrap">
															<input id="postal_code" type="text">
															<span class="input-clear-button"></span>
														</div>
													</div>
												</li>
												<li class="bottom-button">
													<button class="btn save-btn">Save</button>
												</li>
											</ul>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- Profile settings -->

		</div>

	</div>

	<!-- Axios -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<!-- sweet alert -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- /Main wrapper -->
	<script src="assets/js/jquery-3.5.1.min.js"></script>

	<!-- Bootstrap Datepicker JS -->
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/jquery.datepicker2.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Swiper JS -->
	<script src="assets/plugins/swiper/js/swiper.min.js"></script>

	<!-- Add the install script here -->
	<script src="assets/js/install.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>
	<script type="module" src="../scripts/patient-profile-settings.js"></script>

</body>

</html>